@{
    ViewBag.Title = "MPV - MỸ PHẨM VIỆT";

}

<br />
<body>
    <div class="row">
        <div class="col-md-8">
            @Html.Action("SlidePartial", "Home")
        </div>
        <div class="col-md-4">
            <img src="~/Images/qc.gif" class="img-responsive" alt="" />
            
        </div>
    </div>
    <br />

    <div>
        @Html.Action("ThuongHieuPartial", "DanhMuc")
    </div>
    <br />
    <div class="type-banner">
        <span class="dior">Dior</span>
        <a href="#" class="btn-type-banner">Xem tất cả &gt;</a>
    </div>

    <div>@Html.Action("Dior", "SanPham") </div>

    <div class="type-banner">
        <span class="burberry">MAC</span>
        <a href="#" class="btn-type-banner">Xem tất cả &gt;</a>
    </div>

    <div>@Html.Action("Burberry", "SanPham") </div>

    <div class="row">
        <h2> Tin tức sản phẩm</h2>
        <div class="col-md-8">
            Video
        </div>
        <div class="col-md-4">
            Tin tức
        </div>
    </div>
   


</body>