@{
    ViewBag.Title = "ADMIN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage-Admin.cshtml";
}

<title>ADMIN</title>
<center><h2>CHÀO MỪNG BẠN ĐÉN VỚI TRANG CHỦ ADMIN</h2></center>
<center><img src="~/Images/admin-icon-trendy-design-style-isolated-white-background-vector-simple-modern-flat-symbol-web-site-mobile-logo-app-135742404.jpg" /></center>